.postWrapper {
    padding-bottom: 25px;
    clear: both
}

.postTitle {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
    margin-bottom: 15px
}

.postTitle h1,
.postTitle h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.postTitle h3 {
    font-size: 10px;
    margin: 0;
    padding: 2px 0
}

.postContent ol li,
.postContent ul li {
    margin-left: 2em
}

.postBookmarks,
.postContent {
    padding-bottom: 10px
}

.postContent ul {
    list-style: disc;
    margin-bottom: 1.5em
}

.postContent ol {
    list-style: decimal;
    margin-bottom: 1.5em
}

.postBookmarks h4 {
    font-size: 12px;
    font-weight: 700
}

.postBookmarks a.bm {
    display: inline-block
}

.commentDetails h4.username,
.postBookmarks img,
.postWrapper .poster,
.tags UL,
.tags UL LI {
    display: inline
}

.commentWrapper {
    padding-bottom: 15px
}

.commentTitle {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px
}

.commentTitle div {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #0a263c;
    line-height: 1.35
}

.commentContent {
    padding-bottom: 0
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0
}

.postError {
    font-size: 16px
}

.tags {
    font-weight: 700;
    padding-bottom: 10px
}

.tags UL LI {
    font-weight: 400;
    padding-right: 6px
}

.tags h4 {
    font-size: 12px;
    font-weight: 700
}

.block-blog .menu-categories UL LI a,
.block-blog .menu-recent UL LI a,
.block-blog .menu-tags UL LI a,
.menu-categories h5,
.menu-recent h5,
.menu-tags h5 {
    font-size: 11px
}

.menu-categories,
.menu-recent,
.menu-tags {
    margin: 5px 9px
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px
}

.block-blog .menu-categories UL LI,
.block-blog .menu-recent UL LI {
    margin-left: 10px
}

.tag-count-1 {
    font-size: 1em !important
}

.tag-count-2 {
    font-size: 1.2em !important
}

.tag-count-3 {
    font-size: 1.4em !important
}

.tag-count-4 {
    font-size: 1.6em !important
}

.tag-count-5 {
    font-size: 1.8em !important
}

.tag-count-10,
.tag-count-6,
.tag-count-7,
.tag-count-8,
.tag-count-9 {
    font-size: 2em !important
}

.block-blog .head h4 {
    padding-left: 20px
}

.block-blog .block-title strong {
    background-image: url(../../skin/frontend/base/default/aw_blog/images/icon_blog.png);
    background-repeat: no-repeat;
    padding-left: 21px;
    text-align: left
}

.input-box.aw-blog-comment-area {
    width: 100%
}

.widget-latest .title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    margin: 0 0 5px
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px
}

.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: 700 !important
}

.mostViewed {
    margin-bottom: 30px
}

.mostViewed ol,
.mostViewed ul,
.mostViewed ul ul,
.mostViewed ul.products-grid,
.mostViewed ul.products-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.mostViewed .pager .pages ol li,
.mostViewed ul li {
    margin-left: 0
}

.mostViewed .pager {
    float: none;
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding: 10px 10px 5px;
    margin-bottom: 20px
}

.mostViewed .title h2 {
    font-weight: 600;
    margin: 10px 0
}

.mostViewed .products-grid .price-box p {
    margin-bottom: 0
}

.mostViewed ul.products-list.rwd .price-box p {
    display: inline-block;
    margin: 0 0 0 15px
}

.mostViewed ul.products-list.default .price-box p {
    margin: 0 0 3px
}

.default ul ul.add-to-links {
    margin-top: 5px
}

.newProducts {
    margin-bottom: 30px
}

.newProducts ol,
.newProducts ul,
.newProducts ul ul,
.newProducts ul.products-grid,
.newProducts ul.products-list {
    list-style: none;
    margin: 0 auto;
    padding: 0
}

.newProducts .pager .pages ol li,
.newProducts ul li {
    margin-left: 0
}

.newProducts .pager {
    float: none;
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding: 10px 10px 5px;
    margin-bottom: 20px
}

.newProducts .title h2 {
    font-weight: 600;
    margin: 10px 0
}

.newProducts .products-grid .price-box p {
    margin-bottom: 0
}

.newProducts ul.products-list.rwd .price-box p {
    display: inline-block;
    margin: 0 0 0 15px
}

.newProducts ul.products-list.default .price-box p {
    margin: 0 0 3px
}

.default ul ul.add-to-links {
    margin-top: 5px
}

@font-face {
    font-family: 'cws-arrow';
    src: url('../../skin/frontend/base/default/css/responsivebannerslider/fonts/cwsarw.eot');
    src: url('../../skin/frontend/base/default/css/responsivebannerslider/fonts/cwsarwd41d.eot?#iefix') format('embedded-opentype'), url('../../skin/frontend/base/default/css/responsivebannerslider/fonts/cwsarw.woff') format('woff'), url('../../skin/frontend/base/default/css/responsivebannerslider/fonts/cwsarw.ttf') format('truetype'), url('../../skin/frontend/base/default/css/responsivebannerslider/fonts/cwsarw.svg#cws-arrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cwsSlider * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cwsSlider img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.cwsSlider a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.std .cwsSlider ul,
.std .cwsSlider ul li,
.std .cwsSlider ol,
.std .cwsSlider ol li,
.cwsSlider ul,
.cwsSlider ul li,
.cwsSlider ol,
.cwsSlider ol li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.cwsSlider .slides {
    zoom: 1;
}

.hideArw {
    display: none;
}

/* Clearfix for the .slides element */

.loading {
    min-height: 300px;
    background: url('../../skin/frontend/base/default/css/responsivebannerslider/loading.gif') no-repeat center center;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.cws-arw a,
.cws-pager,
.cws-viewport,
ul.slides li {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.cwsSlider .loading {
    max-height: 300px;
    overflow: hidden;
}

/**** Theme styles ****/

.cwsSlider {
    position: relative;
    margin: 0 auto 30px;
}

.page-products .cwsSlider,
.catalog-product-view .cwsSlider,
.cms-page-view .cwsSlider {
    margin: 0 auto 55px;
}

.cwsRwdSlider {
    position: relative;
}

.cwsRwdSlider .slides li {
    position: relative;
}

.cwsRwdSlider .slides li.video iframe {
    width: 100%;
}

.sliderdecs {
    color: #fff;
    width: 45%;
    position: absolute;
    top: 30px;
    right: 50px;
    padding: 20px;
    border-left: 5px solid rgba(255, 255, 255, 0.50);
}

.sliderdecs h3 {
    color: #fff;
    margin: 0;
}

video {
    width: 100% !important;
    height: auto !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 34%;
    padding-top: 0;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Crousel style */

.rwdCarousel {
    position: relative;
}

.rwdCarousel .cws-viewport {
    position: relative;
    overflow: hidden;
}

.rwdCarousel ul.slides li {
    flex: left;
    margin-right: 15px;
}

.defaultTheme .rwdCarousel ul.slides li {
    width: 100px;
    padding: 7px;
    border: 1px solid #ddd;
}

.dropShadow .rwdCarousel ul.slides {
    padding: 3px;
}

.dropShadow .rwdCarousel ul.slides li {
    width: 100px;
    padding: 7px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.40);
}

.emboss .rwdCarousel ul.slides {
    padding: 4px 4px 20px;
}

.emboss .rwdCarousel ul.slides li {
    position: relative;
    padding: 2px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.40);
}

.emboss .rwdCarousel ul.slides li:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 0;
    overflow: hidden;
    background: url(../../skin/frontend/base/default/css/responsivebannerslider/bottom-shadow.png) no-repeat 50% 95%/100% 30px;
}

.emboss .rwdCarousel ul.slides li img {
    border: 1px solid #ddd;
    padding: 4px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.20);
}

/* Slider and Crousel style */

.rwdSlideCrousel ul.slides li {
    float: left;
    margin-right: 10px;
    opacity: 1;
    cursor: pointer;
}

.rwdSlideCrousel ul.slides li.video img {
    width: 150px !important;
}

.rwdSlideCrousel ul.slides li:hover,
.rwdSlideCrousel ul.slides li.cws-active-slide {
    opacity: 0.6;
    cursor: default;
}

.blankTheme .cwsRwdSlider {
    margin-bottom: 10px;
}

.slideNcrosel .slider {
    position: relative;
}

.slideNcrosel.defaultTheme .slider {
    padding: 10px;
    border: 2px solid #DDDDDD;
}

.slideNcrosel.defaultTheme .slider:last-child {
    border-top: 0 none;
}

.verticalSlider.defaultTheme .cwsRwdSlider {
    border: 2px solid #ddd;
    padding: 10px;
}

.verticalSlider.basSlider.defaultTheme ul.slides {
    border: 0 none;
    padding: 0;
}

.slideNcrosel.dropShadow .cwsRwdSlider {
    margin-bottom: 15px;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.50);
}

.slideNcrosel.dropShadow .rwdSlideCrousel ul.slides li {
    margin-right: 15px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.slideNcrosel.emboss {
    padding-bottom: 35px;
    background: url(../../skin/frontend/base/default/css/responsivebannerslider/bottom-shadow.png) no-repeat 50% 100%/100% 36px;
}

.slideNcrosel.emboss .slider {
    border: 2px solid #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.30);
}

.slideNcrosel.emboss .cwsRwdSlider,
.slideNcrosel.emboss .rwdSlideCrousel {
    padding: 8px;
    background-color: #fff;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.25);
}

/* Direction Nav */

.cws-arw {
    *height: 0;
}

.cws-arw a {
    display: block;
    width: 35px;
    height: 35px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.cws-arw .cws-prev {
    left: 0;
}

.cws-arw .cws-next {
    right: 0;
}

.cws-arw a:before {
    font-family: "cws-arrow";
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    height: 34px;
    width: 34px;
    display: inline-block;
}

.cws-arw.angle a.cws-prev:before {
    content: "\69";
}

.cws-arw.angle a.cws-next:before {
    content: "\6a";
}

.cws-arw.angle_small a.cws-prev:before {
    content: "\6d";
}

.cws-arw.angle_small a.cws-next:before {
    content: "\6e";
}

.cws-arw.angle_circle a.cws-prev:before {
    content: "\37";
}

.cws-arw.angle_circle a.cws-next:before {
    content: "\38";
}

.cws-arw.angle_square a.cws-prev:before {
    content: "\21";
}

.cws-arw.angle_square a.cws-next:before {
    content: "\23";
}

.cws-arw.arrow a.cws-prev:before {
    content: "\6b";
}

.cws-arw.arrow a.cws-next:before {
    content: "\6c";
}

.cws-arw.arrow_circle a.cws-prev:before {
    content: "\6f";
}

.cws-arw.arrow_circle a.cws-next:before {
    content: "\70";
}

.cws-arw.caret a.cws-prev:before {
    content: "\65";
}

.cws-arw.caret a.cws-next:before {
    content: "\66";
}

.cws-arw.chevron a.cws-prev:before {
    content: "\77";
}

.cws-arw.chevron a.cws-next:before {
    content: "\78";
}

.cws-arw.chevron_smooth a.cws-prev:before {
    content: "\71";
}

.cws-arw.chevron_smooth a.cws-next:before {
    content: "\72";
}

.cws-arw.chevron_circle a.cws-prev:before {
    content: "\33";
}

.cws-arw.chevron_circle a.cws-next:before {
    content: "\34";
}

.cws-arw.chevron_square a.cws-prev:before {
    content: "\39";
}

.cws-arw.chevron_square a.cws-next:before {
    content: "\30";
}

.NavArwOnHover:hover .cws-arw .cws-prev,
.alwaysNavArw .cws-arw .cws-prev {
    opacity: 0.6;
    left: 10px;
}

.NavArwOnHover:hover .cws-arw .cws-next,
.alwaysNavArw .cws-arw .cws-next {
    opacity: 0.6;
    right: 10px;
}

.cwsRwdSlider:hover .cws-next:hover,
.cwsRwdSlider:hover .cws-prev:hover {
    opacity: 1;
}

.navArwOutside.NavArwOnHover:hover .cws-arw .cws-prev,
.navArwOutside.alwaysNavArw .cws-arw .cws-prev {
    left: -40px;
}

.navArwOutside.NavArwOnHover:hover .cws-arw .cws-next,
.navArwOutside.alwaysNavArw .cws-arw .cws-next {
    right: -40px;
}

.navArwInLeft .cws-arw .cws-prev,
.navArwInLeft .cws-arw .cws-next,
.navArwInRight .cws-arw .cws-prev,
.navArwInRight .cws-arw .cws-next {
    bottom: 10px;
    top: inherit;
    margin: 0;
}

.navArwInLeft .cws-arw .cws-prev {
    left: 10px;
}

.navArwInLeft .cws-arw .cws-next {
    left: 50px;
}

.navArwInRight .cws-arw .cws-prev,
.navArwInRight.NavArwOnHover:hover .cws-arw .cws-prev {
    left: inherit;
    right: 50px;
}

.navArwInRight .cws-arw .cws-next {
    right: 10px;
}

/* Pager style */

.cws-pager {
    position: absolute;
    z-index: 99;
    opacity: 0;
}

.cws-pager li {
    margin: 0 3px;
    display: inline-block;
}

.cws-pager li a {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
    margin: 0 1px;
}

.cws-pager.squared li a,
.cws-pager.squ-bar li a {
    border-radius: 0;
}

.cws-pager.cir-bar,
.cws-pager.squ-bar {
    padding: 10px 10px 0 !important;
}

.alwaysPaging .cws-pager,
.pagingOnHover:hover .cws-pager {
    opacity: 1;
}

.alwaysPaging:hover .cws-pager.cir-bar,
.alwaysPaging:hover .cws-pager.squ-bar,
.pagingOnHover:hover .cws-pager.cir-bar,
.pagingOnHover:hover .cws-pager.squ-bar {
    opacity: 0.9;
}

.pagerBelow .cws-pager {
    padding-top: 15px;
    bottom: -40px;
    left: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.pagerBelow .cws-pager.cir-bar,
.pagerBelow .cws-pager.squ-bar {
    bottom: -35px;
}

.pagerAbove .cws-pager {
    top: -20px;
    left: 45%;
}

.pagerAbove .cws-pager.cir-bar,
.pagerAbove .cws-pager.squ-bar {
    top: -35px;
}

.pagerInTop .cws-pager {
    top: 10px;
    left: 45%;
}

.pagerInBottom .cws-pager {
    bottom: 10px;
    left: 45%;
}

.pagerInBottomleft .cws-pager {
    bottom: 10px;
    left: 10px;
}

.pagerInBottomright .cws-pager {
    bottom: 10px;
    right: 10px;
}

.navArwInLeft.pagerInBottomleft .cws-pager {
    bottom: 22px;
    left: 92px;
}

.navArwInRight.pagerInBottomright .cws-pager {
    bottom: 22px;
    right: 92px;
}

.navArwInLeft.pagerInBottomleft .cws-pager.cir-bar,
.navArwInRight.pagerInBottomleft .cws-pager.cir-bar,
.navArwInLeft.pagerInBottomright .cws-pager.squ-bar,
.navArwInRight.pagerInBottomright .cws-pager.squ-bar {
    bottom: 13px;
}

/****** Slider Theme setting style ******/

/* Default Theme */

.basSlider.defaultTheme .cwsRwdSlider {
    padding: 10px;
    border: 2px solid #ddd;
}

.defaultTheme .pagerBelow .cws-pager {
    bottom: -50px;
}

.defaultTheme .pagerAbove .cws-pager {
    top: -30px;
}

.defaultTheme .pagerBelow .cws-pager.cir-bar,
.defaultTheme .pagerBelow .cws-pager.squ-bar {
    bottom: -34px;
}

.pagerBelow .cws-pager.cir-bar,
.pagerBelow .cws-pager.squ-bar,
.pagerAbove .cws-pager.cir-bar,
.pagerAbove .cws-pager.squ-bar {
    left: -2px;
    width: 100.3%;
}

.defaultTheme .pagerAbove .cws-pager.cir-bar,
.defaultTheme .pagerAbove .cws-pager.squ-bar {
    top: -34px;
    text-align: center
}

.basSlider.dropShadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.basSlider.dropShadow:before,
.basSlider.dropShadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.basSlider.dropShadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.basSlider.emboss {
    padding-bottom: 35px;
    background: url(../../skin/frontend/base/default/css/responsivebannerslider/bottom-shadow.png) no-repeat 50% 100%/100% 36px;
}

.basSlider.emboss .slider {
    border: 2px solid #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.30);
}

.basSlider.emboss .cwsRwdSlider {
    padding: 8px;
    background-color: #fff;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.25);
}

.basSlider.emboss .cws-pager.squ-bar {
    bottom: -65px;
}

.emboss .rwdCarousel ul.slides:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    width: 0;
    overflow: hidden;
}

@media only screen and (max-width:1320px) {
    .navArwOutside.NavArwOnHover:hover .cws-arw .cws-prev,
    .navArwOutside.alwaysNavArw .cws-arw .cws-prev {
        left: 0;
    }
    .navArwOutside.NavArwOnHover:hover .cws-arw .cws-next,
    .navArwOutside.alwaysNavArw .cws-arw .cws-next {
        right: 0;
    }
}

@media only screen and (max-width:768px) {
    .columns,
    .catalog-product-view .column.main {
        display: inherit;
    }
    .cws-arw .cws-next {
        right: 2px;
    }
    .cws-arw .cws-prev {
        left: 2px;
    }
    .pagerBelow .cws-pager.cir-bar,
    .pagerBelow .cws-pager.squ-bar {
        width: 101%;
    }
}

@media only screen and (max-width:480px) {
    .pagerAbove .cws-pager,
    .pagerInTop .cws-pager,
    .pagerInBottom .cws-pager {
        left: 37%;
    }
}

@media only screen and (max-width:380px) {
    .pagerBelow .cws-pager.cir-bar,
    .pagerBelow .cws-pager.squ-bar {
        width: 101.5%;
    }
}

.su-youtube {
    margin: 0;
}

.su-responsive-media-yes {
    height: 0;
    overflow: hidden;
    padding-bottom: 41.25%;
    position: relative;
}

.su-youtube iframe {
    border: medium none !important;
    border: 0 none;
}

.su-responsive-media-yes iframe,
.su-responsive-media-yes object,
.su-responsive-media-yes embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */

div.ced-sociallogin-google-inner {
    height: 33px !important;
    /* float: left !important;   */
    margin-left: 0 !important;
    padding: 0 5px !important;
    text-shadow: 1px 1px #000000;
    width: 100px;
    background-size: 98px auto;
}

div.ced_google_connect {
    background: transparent url('../../skin/frontend/base/default/ced_sociallogin/google/images/social_connect_go.png') no-repeat top left !important;
}

div.ced_google_disconnect {
    background: transparent url('../../skin/frontend/base/default/ced_sociallogin/google/images/social_disconnect_go.png') no-repeat top left !important;
}

div.ced-sociallogin-google-inner a {
    color: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 30px !important;
}

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */

div.ced-sociallogin-facebook-inner {
    height: 33px !important;
    float: left !important;
    margin-left: 0 !important;
    background: transparent url('../../skin/frontend/base/default/ced_sociallogin/facebook/images/social_connect_fb.png') no-repeat top left !important;
    padding: 0 5px !important;
    text-shadow: 1px 1px #1c376d;
    width: 100px;
    background-size: 98px auto;
}

div.ced_fb_connect {
    background: transparent url('../../skin/frontend/base/default/ced_sociallogin/facebook/images/social_connect_fb.png') no-repeat top left !important;
}

div.ced_fb_disconnect {
    background: transparent url('../../skin/frontend/base/default/ced_sociallogin/facebook/images/social_disconnect_fb.png') no-repeat top left !important;
}

div.ced-sociallogin-facebook-inner a {
    color: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 30px !important;
}

#location-selector-overlay[id],
#location-selector[id] {
    position: fixed
}

#location-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 500px;
    margin: -220px 0 0 -250px
}

#location-selector .group-select {
    margin: 0;
    background-color: #fff;
    padding: 30px;
    border: 3px solid #000;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 20px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(255, 255, 255, .8)
}

#location-selector .buttons {
    margin-top: 20px
}

#location-selector .list li {
    margin-top: 10px
}

#location-selector-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: #000;
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50)
}

.shipping-location {
    color: #FFF
}

.shipping-location a,
.shipping-location a:hover {
    color: #ebbc58
}

.button .span {
    background: #618499;
    border-color: #406A83
}

#location-selector select {
    width: 200px
}

.freeshipping {
    font-weight: 700;
    color: #0a0;
    margin: 6px 5px
}

.products-grid .freeshipping {
    float: left;
    margin: 5px !important
}

.product-details .freeshipping {
    float: none;
    margin: 0
}

.product-view .freeshipping {
    float: left;
    margin: 10px 20px
}

.product-view .clear_freeshipping {
    clear: both
}

.product-details .checkout {
    margin: 6px 5px;
    float: left
}

@charset "utf-8";
/**
 * COD Check CSS
 *
 * @category    CSS
 * @package     Gremlin_Codcheck
 * @author      Junaid Bhura <info@magecomp.io>
 */

#magecomp-codcheck {
    padding: 15px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
}

#magecomp-codcheck .input-text {
    width: 100px;
}

#magecomp-codcheck .cod-available,
#magecomp-codcheck .cod-not-available,
#magecomp-codcheck .cod-validation,
#magecomp-codcheck .cod-error,
#magecomp-codcheck .loading-spinner {
    display: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.seo-content {
    color: #333;
    width: 600px;
    margin: 0 auto;
    padding: 5px 10px;
    margin-top: -50px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
}

.seositemap-map ul {
    *zoom: 1;
    margin-left: 15px;
    margin-bottom: 15px;
}

.seositemap-map ul:before,
.seositemap-map ul:after {
    display: table;
    content: "";
    line-height: 0;
}

.seositemap-map ul:after {
    clear: both;
}

.seositemap-map ul.stores li {
    font-weight: bold;
    font-size: 110%;
}

.seositemap-map ul li.level-2 {
    font-weight: bold;
}

.seositemap-map ul li.level-3 {
    margin-left: 15px;
}

.seositemap-map ul li.level-4 {
    margin-left: 30px;
    font-size: 90%;
}

.seositemap-map ul li.level-5 {
    margin-left: 45px;
    font-size: 90%;
}

.seositemap-map ul li.level-6 {
    margin-left: 60px;
    font-size: 90%;
}

.seositemap-map ul li.level-7 {
    margin-left: 75px;
    font-size: 90%;
}

.review-aggregate-hide {
    display: none;
}

/*seo-info*/

/*seo-info-color*/

.seo-info .seo-info-incorrect {
    color: #df280a;
}

.seo-info .seo-info-correct {
    color: #50B655;
}

.seo-info .seo-info-notice {
    color: #BD5D1F;
}

/*seo-info-main-style*/

.seo-info .seo-info-base-window {
    width: 370px;
    min-height: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #F8F8F8;
    color: #363636;
    z-index: 100000;
    font-family: Arial;
    outline: 5px solid rgba(203, 203, 203, 0.7);
}

.seo-info .seo-info-hr-style {
    margin: 5px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.seo-info .seo-info-h1-style {
    font-family: Arial;
    background: #FEFEFE;
    color: #666666;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
}

.seo-info .seo-info-h2-style {
    font-family: Arial;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    text-align: left;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #363636;
    text-transform: none;
}

.seo-info .seo-info-text-style {
    font-family: Arial;
    font-size: 13px;
    text-align: left;
    /*color: #363636;*/
}

.seo-info .seo-additional-info-text-style {
    font-family: Arial;
    font-size: 13px;
    text-align: left;
}

/*seo-info-keyword-progress-bar*/

.seo-info .seo-info-progress-container {
    width: 100%;
    font-size: 13px;
}

.seo-info .seo-info-progress-label {
    width: 150px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 10px;
    text-align: left;
}

.seo-info .seo-info-progress-label,
.seo-info .seo-info-progress {
    border-radius: 11px;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
}

.seo-info .seo-info-progress {
    background-color: #f5f7fa;
    box-shadow: none;
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
    margin-bottom: 2px;
    width: 150px;
    height: 6px;
}

.seo-info .seo-info-progress-success .seo-info-progress-bar {
    background-color: #50B655;
    border-color: #5cb85c;
    color: #5cb85c;
    box-sizing: border-box;
    border-radius: 11px;
    box-shadow: none;
    height: 100%;
    float: left;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    transition: width 0.6s ease 0s;
}

.seo-info .seo-info-progress-label,
.seo-info-progress {
    border-radius: 11px;
}

.seo-info .seo-info-progress.seo-info-progress-success {
    width: 100px;
}

.seo-info .seo-info-progress-bar {
    background-color: #a0c5e4;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #428bca;
    float: left;
    font-size: 13px;
    height: 100%;
    line-height: 24px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

/*seo-info images alt info*/

.seo-info .seo-info-image-alt {
    display: inline-block;
    width: 260px;
}

/*link*/

.seo-info .seo-additional-info-link-style {
    font-family: Arial;
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
    padding-bottom: 3px;
}

.seo-info .seo-additional-info-link-style a {
    color: #3196CA;
}

/*scroll*/

.seo-info .seo-info-scroll {
    overflow-y: auto;
    height: 500px;
    margin-top: 0.7em;
    padding: 2px 15px 10px 5px;
    text-align: justify;
    margin-bottom: 5px;
}

.seo-info .seo-info-scroll::-webkit-scrollbar {
    width: 7px;
}

.seo-info .seo-info-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}

.seo-info .seo-info-scroll::-webkit-scrollbar-thumb {
    background-color: #EAEAEA;
    border-radius: 7px;
}

.seo-info .seo-info-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #EAEAEA;
    border-radius: 7px;
}

/*SEO Template Info*/

.seo-info .seo-additional-info-template-style {
    font-size: 13px;
}

/*hide/show button*/

.seo-info .seo-additional-info-hide-show-button-style {
    position: absolute !important;
    right: 0;
    top: 0;
    padding-right: 7px;
    color: #3196CA;
    text-decoration: underline;
    cursor: pointer;
}

.seo-info .m-seo-info-scroll-hide {
    display: none;
}

/*table for SEO Templates*/

.seo-info .m-seo-info-template-table {
    display: table;
    width: 100%;
    padding-top: 3px;
}

.seo-info .m-seo-info-template-table-row {
    display: table-row;
}

.seo-info .m-seo-info-template-table-cell {
    display: table-cell;
    text-align: center;
    padding: 2px;
    vertical-align: middle;
}

.seo-info .m-seo-info-template-table-cell:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.seo-info .m-seo-info-template-table-cell:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.seo-info .m-seo-info-template-table-cell:nth-child(3) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.seo-info .m-seo-info-template-left {
    text-align: left;
    padding-left: 1px;
}

.seo-info .m-seo-info-template-table-row:last-child .m-seo-info-template-table-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.seo-info .m-seo-info-id-width {
    width: 30px;
}

.seo-info .m-seo-info-rule-name-width {
    width: 120px;
}

.seo-info .m-seo-info-sort-order-width {
    width: 70px;
}

.seo-info .m-seo-info-rules-processing-width {
    width: 110px;
}

.seo-info .m-seo-info-status-width {
    width: auto;
}

/*seo-info demo store style*/

@media all and (max-width: 590px) {
    .seo-info .seo-info-base-window.m-seo-info-demo-style {
        bottom: 40px !important;
        right: 10px !important;
    }
}

@media all and (min-width: 591px) {
    .seo-info .seo-info-base-window.m-seo-info-demo-style {
        bottom: 5px !important;
        right: 260px !important;
    }
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.seositemap-map ul {
    *zoom: 1;
    margin-left: 15px;
    margin-bottom: 15px;
}

.seositemap-map ul:before,
.seositemap-map ul:after {
    display: table;
    content: "";
    line-height: 0;
}

.seositemap-map ul:after {
    clear: both;
}

.seositemap-map ul.stores li {
    font-weight: bold;
    font-size: 100%;
}

.seositemap-map ul li.level-2 {
    font-weight: bold;
}

.seositemap-map ul li.level-3 {
    margin-left: 15px;
}

.seositemap-map ul li.level-4 {
    margin-left: 30px;
    font-size: 90%;
}

.seositemap-map ul li.level-5 {
    margin-left: 45px;
    font-size: 90%;
}

.seositemap-map ul li.level-6 {
    margin-left: 60px;
    font-size: 90%;
}

.seositemap-map ul li.level-7 {
    margin-left: 75px;
    font-size: 90%;
}

.review-aggregate-hide {
    display: none;
}

.seositemap-index-index div.seositemap-map table {
    width: 100%;
}

.seositemap-index-index div.seositemap-map table tbody tr td {
    vertical-align: top;
}

/*
/**
* Phxsolution Formbuilder
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so you can be sent a copy immediately.
*
* Original code copyright (c) 2008 Irubin Consulting Inc. DBA Varien
*
* @category   module css
* @package    Phxsolution_Formbuilder
* @author     Murad Ali
* @contact    contact@phxsolution.com
* @site       www.phxsolution.com
* @copyright  Copyright (c) 2014 Phxsolution Formbuilder
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

.form-list .input-box {
    /* max-width:450px */
}

.product-options {
    /*border: 1px solid #333;*/
}

.formbuilder ul {
    list-style: none !important;
    list-style-type: none !important;
}

#custom_form .input-text {
    /*width:100%*/
}

#custom_form .title_image {
    text-align: center;
}

.input-box .product-options ul.options-list li {
    fload: left;
}